.custom-button {
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 16px;
  transition: all 0.2s;
  text-align: center;
  svg {
    transition: all 0.2s;
    width: 26px;
    height: 7px;
    stroke: $lightBlue;
    position: relative;
    top: -1px;
  }
}
.custom-button-transparent {
  background-color: transparent;
  color: $lightBlue;
  border: 1px solid $lightBlue;
}
.custom-button-transparent:hover {
  background-color: $lightBlue;
  color: $white;
  svg {
    stroke: $white;
  }
}
.custom-button-blue {
  background-color: $lightBlue;
  color: $white;
  border: 1px solid $lightBlue;
}
.custom-button-blue:hover {
  background-color: $blue;
  border-color: $blue;
  color: $white;
  svg {
    stroke: $white;
  }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}