.main-footer {
  h2 {
    font-size: 20px;
    line-height: 125%;
  }
  .contact-us {
    background-color: $lightGray;
    padding: 16px;
    line-height: 170%;
    h2 {
      margin-bottom: 12px;
    }
    .contact-us-image {
      display: none;
    }
    a {
      color: $lightBlue;
      text-decoration: underline;
      margin: 6px 0 10px;
    }
    a:hover {
      color: darkblue;
      text-decoration: none;
    }
  }
  .questions {
    padding: 33px 16px 41px;
    background-color: $darkerGray;
    p {
      font-size: 16px;
      line-height: 170%;
      margin: 6px 0 18px;
    }
    .form-input {
      display: block;
      width: 100%;
      input {
        width: 100%;
        padding: 5px 12px;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 2px;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 160%;
      }
    }
    .form-submit button {
      width: 100%;
    }
    .form-description {
      color: $darkGray;
      font-size: 12px;
      line-height: 142%;
      text-align: center;
      a {
        text-decoration: underline;
      }
    }
    .questions-delimiter {
      display: none;
    }
    .questions-call {
      font-size: 14px;
      line-height: 161.2%;
      .questions-callback {
        width: 100%;
      }
    }
    .questions-subscribe-success {
      display: none;
      text-align: center;
      width: 281px;
      margin: 0 auto;
      .subscribe-success-icon {
        width: 61px;
        height: 61px;
        margin: 0 auto 15px;
        border: 2px solid $successGreen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: transparent;
          width: 29px;
          height: 19px;
          stroke: $successGreen;
        }
      }
      .subscribe-success-text {
        .success-header {
          font-weight: bold;
          font-size: 20px;
          line-height: 124%;
        }
        .success-description {
          opacity: 0.5;
          font-size: 14px;
          line-height: 131.2%;
        }
      }
    }
  }
  .footer-bottom {
    padding: 26px 16px 0;
    font-size: 14px;
    line-height: 160%;
    > div {
      position: relative;
    }
    > div:after {
      content: '';
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $delimiterBlue;
      margin: 27px 0;
    }
    > div:last-child:after {
      margin-bottom: 16px;
    }
    h2 {
      font-size: 14px;
      line-height: 160%;
    }
    a {
      color: $lightBlack;
      margin-top: 14px;
    }
    a:hover {
      color: $blue;
    }
    .footer-contacts {
      svg {
        width: 12px;
        height: 9px;
        margin-right: 6px;
        fill: $footerIconGray;
      }
      .footer-address {
        margin-top: 12px;
      }
      .footer-soc-contacts {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin: 0 auto;
        }
        svg {
          max-width: 28px;
          max-height: 18px;
          height: 100%;
          width: 100%;
          fill: $lightBlue;
        }
        svg:hover {
          fill: $blue;
        }
      }
    }
  }
  .footer-copyrights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px 16px;
    .footer-policy {
      order: 1;
      width: 100%;
      text-align: center;
      margin-bottom: 7px;
    }
    .footer-copyright,
    .footer-developer {
      width: 50%;
      font-size: 12px;
      line-height: 160%;
    }
    .footer-copyright {
      order: 2;
    }
    .footer-developer {
      order: 3;
      text-align: right;
      a {
        color: $lightBlue;
      }
    }
  }
}
.fancybox-container {
  .fancybox-content {
    background-color: $white;
  }
  .fancybox-close-small {
    width: 24px;
    height: 24px;
    svg {
      stroke: $red;
      fill: $red;
      color: $red;
    }
  }
  .fancybox-bg {
    background: rgba(41, 96, 180, 0.7);
    backdrop-filter: blur(4px);
  }
}
.popup-container {
  display: none;
}
.fancybox-container .popup-container {
  width: 90%;
  max-width: 522px;
  padding: 0 20px;
  .popup-inner {
    max-width: 340px;
    margin: 0 auto;
    padding: 21px 0 25px;
    text-align: center;
    .popup-header {
      max-width: 340px;
      font-weight: bold;
      font-size: 30px;
      line-height: 124%;
    }
    .popup-description {
      max-width: 281px;
      margin: 4px auto 21px;
      opacity: 0.5;
    }
    .popup-policy {
      max-width: 281px;
      margin: 0 auto;
      opacity: 0.5;
    }
    .popup-form {
      max-width: 281px;
      margin: 0 auto 8px;
      input, textarea {
        width: 100%;
        padding: 5px 12px;
        border: 1px solid $popupInputGray;
        border-radius: 2px;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 5px;
      }
      .popup-field:last-child {
        input {
          margin-bottom: 10px;
        }
      }
    }
    .popup-submit {
      button {
        width: 100%;
      }
    }
  }
  .popup-success {
    display: none;
    padding: 50px 20px;
    text-align: center;
    .popup-success-icon {
      width: 61px;
      height: 61px;
      background-color: $successGreen;
      border-radius: 50%;
      margin: 0 auto 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 29px;
        height: 19px;
        stroke: $white;
        fill: transparent;
      }
    }
    .popup-success-header {
      font-weight: bold;
      font-size: 30px;
      line-height: 124%;
    }
    .popup-success-description {
      opacity: 0.5;
      font-size: 14px;
      line-height: 131.2%;
    }
  }
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {
  .main-footer {
    .contact-us {
      display: flex;
      align-items: center;
      padding: 40px get-vw(408px);
      .contact-us-image {
        display: block;
        width: get-vw(445px);
      }
      .contact-us-text {
        width: 292px;
        margin-left: 75px;
      }
    }
    .questions {
      padding: 12px 50px;
      background-color: $darkerGray;
      display: flex;
      align-items: center;
      .questions-head {
        max-width: 324px;
        margin-right: 20px;
        h2 {
          font-size: 40px;
          line-height: 100%;
        }
      }
      .questions-subscribe {
        max-width: 281px;
        margin: 0 auto;
      }
      .questions-delimiter {
        margin: 0 10px;
        display: block;
        width: 1px;
        height: 278px;
        background-color: $delimiterBlue;
      }
      .questions-call {
        max-width: 358px;
        margin-left: auto;
        .questions-call-subheader {
          margin-bottom: 0;
        }
        .questions-callback, h2, p {
          max-width: 281px;
        }
      }
      .form-input {
        display: block;
        width: 100%;
        input {
          width: 100%;
          padding: 5px 12px;
          border: 1px solid $gray;
          box-sizing: border-box;
          border-radius: 2px;
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 160%;
        }
      }
      .form-submit button {
        width: 100%;
      }
      .form-description {
        color: $darkGray;
        font-size: 12px;
        line-height: 142%;
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    .footer-bottom {
      position: relative;
      padding: 50px;
      display: flex;
      align-items: flex-start;
      > div:after {
        content: none;
      }
      a {
        margin-top: 6px;
      }
      .footer-objects {
        width: get-lap-vw(373px);
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 50%;
          }
        }
      }
      .footer-information {
        margin: 0 auto;
        width: get-lap-vw(286px);
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          flex-direction: column;
          height: 90px;
          li {
            width: 50%;
          }
        }
      }
      .footer-contacts {
        width: get-lap-vw(310px);
        .footer-soc-contacts {
          padding: 0;
          display: block;
          a {
            max-width: 15px;
            max-height: 13px;
            margin: 0 22px 0 0;
            svg {
              max-width: 100%;
            }
          }
        }
      }
    }
    .footer-bottom:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $delimiterBlue;
    }
    .footer-copyrights {
      padding: 7px 50px 8px;
      justify-content: space-between;
      .footer-policy {
        order: 2;
        width: auto;
        margin-bottom: 0;
      }
      .footer-copyright,
      .footer-developer {
        width: auto;
      }
      .footer-copyright {
        order: 1;
      }
      .footer-developer {
        text-align: right;
        a {
          color: $lightBlue;
        }
        a:hover {
          color: $black;
        }
      }
    }
  }
  .fancybox-container .popup-container {
    .popup-inner {
      padding: 42px 0 51px;
    }
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
  .main-footer {
    .contact-us {
      h2 {
        font-size: 40px;
        margin-bottom: 12px;
      }
    }
    .questions {
      padding: 12px 50px;
      background-color: $darkerGray;
      display: flex;
      align-items: center;
      .questions-head {
        margin-right: unset;
        h2 {
          font-size: 40px;
          line-height: 100%;
        }
      }
      .questions-subscribe {
        max-width: 281px;
        margin: 0 auto;
      }
      .questions-delimiter {
        margin: unset;
      }
      .questions-call {
        max-width: 358px;
        margin-left: auto;
        .questions-call-subheader {
          margin-bottom: 0;
        }
        .questions-callback, h2, p {
          max-width: 281px;
        }
      }
      .form-input {
        display: block;
        width: 100%;
        input {
          width: 100%;
          padding: 5px 12px;
          border: 1px solid $gray;
          box-sizing: border-box;
          border-radius: 2px;
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 160%;
        }
      }
      .form-submit button {
        width: 100%;
      }
      .form-description {
        color: $darkGray;
        font-size: 12px;
        line-height: 142%;
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    .footer-bottom {
      position: relative;
      padding: 50px;
      display: flex;
      align-items: flex-start;
      > div:after {
        content: none;
      }
      a {
        margin-top: 6px;
      }
      .footer-objects {
        width: get-lap-vw(373px);
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 50%;
          }
        }
      }
      .footer-information {
        margin: 0 auto;
        width: get-lap-vw(286px);
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          flex-direction: column;
          height: 90px;
          li {
            width: 50%;
          }
        }
      }
      .footer-contacts {
        width: get-lap-vw(310px);
        .footer-soc-contacts {
          margin-top: 12px;
          padding: 0;
          display: block;
          a {
            max-width: 15px;
            max-height: 13px;
            margin: 0 22px 0 0;
            svg {
              max-width: 100%;
            }
          }
        }
      }
    }
    .footer-bottom:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $delimiterBlue;
    }
    .footer-copyrights {
      justify-content: space-between;
      .footer-policy {
        order: 2;
        width: auto;
        margin-bottom: 0;
      }
      .footer-copyright,
      .footer-developer {
        width: auto;
      }
      .footer-copyright {
        order: 1;
      }
      .footer-developer {
        text-align: right;
        a {
          color: $lightBlue;
        }
        a:hover {
          color: $black;
        }
      }
    }
  }
}
#searchMetro {
  display: none;
}
@media (min-width: 1600px) {
  .main-footer {
    .questions {
      padding: 12px get-vw(323px);
    }
    .footer-bottom {
      padding: 50px get-vw(323px);
      .footer-objects {
        width: 373px;
      }
      .footer-information {
        width: 286px;
      }
      .footer-contacts {
        width: 310px;
      }
    }
    .footer-copyrights {
      padding: 7px get-vw(323px) 8px;
    }
  }
}