* {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  font-family: Muller, sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Muller, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 20px;
}
a {
  transition: 0.2s all;
  display: inline-block;
}
a, button, input, textarea {
  transition: .2s;
}
.clear-after:after {
  content: '';
  display: block;
  clear: both;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 96, 180, 0.7);
  backdrop-filter: blur(4px);
  z-index: 4;
}
.custom-checkbox {
  input {
    display: none;
  }
  input + label {
    cursor: pointer;
  }
  input + label:before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $gray;
    background: $white url("./img/icons/icon-okay.svg") no-repeat;
    background-position: center;
    background-size: 12px;
    vertical-align: sub;
    margin-right: 9px;
    transition: all 0.2s;
  }
  input + label:hover:before {
    border: 1px solid $lightBlue;
  }
  input:checked + label:before {
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
  }
}
.custom-radio {
  input[type=radio] {
    display: none;
  }
  input + label {
    font-size: 15px;
    line-height: 160%;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
  }
  input + label:before,
  input + label:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.2s all;
  }
  input + label:before {
    width: 16px;
    height: 16px;
    left: 0;
    background-color: $white;
    border: 1px solid $gray;
  }
  input + label:after {
    width: 10px;
    height: 10px;
    left: 4px;
  }
  input:checked + label:before {
    border-color: $lightBlue;
  }
  input:checked + label:after {
    background-color: $lightBlue;
  }
  &:hover {
    input + label:before {
      border-color: $lightBlue;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1600px) {

}