$black : #000000;
$lightBlack : #25273A;
$red : #D43127;
$tomato : #FF2F22;
$darkerGray : #DFE2EB;
$footerIconGray : #B2B7C9;
$darkGray : #A9ABBA;
$gray : #DEDEDE;
$lightGray : #EBECF0;
$lighterGray : #FAFAFA;
$blue : #17407E;
$lightBlue : #2960B4;
$white : #ffffff;
$blueGray : #F5F7FE;
$delimiterBlue : #C0C6DD;
$checkboxGray : #CDD0DD;
$filtersDelimiterGray : #E6E7EB;
$catalogGray : #80879D;
$inputGray : #A8AEC0;
$mapSymbols : #5A6374;
$successGreen : #62BF36;
$popupInputGray : #D5DAED;